{% extends "blog/base.html" %}
{% block content %}
    
    <h1>Home page</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ab aspernatur corrupti eum harum officiis magnam veritatis veniam esse error fugit sit ipsum obcaecati beatae ullam facere architecto, iure mollitia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora rerum, iusto voluptate blanditiis, velit laudantium harum eaque inventore beatae repudiandae officiis mollitia facilis! Odio repellendus dolorum debitis quod, voluptate magnam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium esse reiciendis nobis delectus harum recusandae? Soluta fugiat natus pariatur eos? Iure numquam et voluptates quisquam velit ipsum, totam rerum quibusdam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, recusandae? Deserunt magni sint delectus officia fugit nobis, mollitia, quidem ratione tempore sit adipisci laudantium hic omnis, doloribus placeat itaque error.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ab aspernatur corrupti eum harum officiis magnam veritatis veniam esse error fugit sit ipsum obcaecati beatae ullam facere architecto, iure mollitia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora rerum, iusto voluptate blanditiis, velit laudantium harum eaque inventore beatae repudiandae officiis mollitia facilis! Odio repellendus dolorum debitis quod, voluptate magnam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium esse reiciendis nobis delectus harum recusandae? Soluta fugiat natus pariatur eos? Iure numquam et voluptates quisquam velit ipsum, totam rerum quibusdam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, recusandae? Deserunt magni sint delectus officia fugit nobis, mollitia, quidem ratione tempore sit adipisci laudantium hic omnis, doloribus placeat itaque error.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ab aspernatur corrupti eum harum officiis magnam veritatis veniam esse error fugit sit ipsum obcaecati beatae ullam facere architecto, iure mollitia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora rerum, iusto voluptate blanditiis, velit laudantium harum eaque inventore beatae repudiandae officiis mollitia facilis! Odio repellendus dolorum debitis quod, voluptate magnam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium esse reiciendis nobis delectus harum recusandae? Soluta fugiat natus pariatur eos? Iure numquam et voluptates quisquam velit ipsum, totam rerum quibusdam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, recusandae? Deserunt magni sint delectus officia fugit nobis, mollitia, quidem ratione tempore sit adipisci laudantium hic omnis, doloribus placeat itaque error.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ab aspernatur corrupti eum harum officiis magnam veritatis veniam esse error fugit sit ipsum obcaecati beatae ullam facere architecto, iure mollitia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora rerum, iusto voluptate blanditiis, velit laudantium harum eaque inventore beatae repudiandae officiis mollitia facilis! Odio repellendus dolorum debitis quod, voluptate magnam!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium esse reiciendis nobis delectus harum recusandae? Soluta fugiat natus pariatur eos? Iure numquam et voluptates quisquam velit ipsum, totam rerum quibusdam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, recusandae? Deserunt magni sint delectus officia fugit nobis, mollitia, quidem ratione tempore sit adipisci laudantium hic omnis, doloribus placeat itaque error.</p>
    <div class="container my-5">

        <footer class="bg-light text-center text-white">
        <!-- Copyright -->
        <div style="background-color: rgba(0, 0, 0, 0.8); height: 50px;width: 100%;">
          © 2023 Copyright:
          <a class="text-white" href="https://github.com/bibinwithab/">bibinwithab at github</a>
        </div>
        <!-- Copyright -->
      </footer>
        
      </div>

{% endblock content %}