{% extends "blog/base.html" %}
{% block content %}

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, ab aspernatur corrupti eum harum officiis magnam veritatis veniam esse error fugit sit ipsum obcaecati beatae ullam facere architecto, iure mollitia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora rerum, iusto voluptate blanditiis, velit laudantium harum eaque inventore beatae repudiandae officiis mollitia facilis! Odio repellendus dolorum debitis quod, voluptate magnam!</p>

{% endblock content %}